<div class="container">
  <form class="new-task">
    <div class="form-group">
      <mat-form-field>
        <mat-label for="title">Title</mat-label>
        <input
          matInput
          type="text"
          id="title"
          name="title"
          [(ngModel)]="newTask.title"
          class="form-control"
          [disabled]="isProcessing"
        />
        <mat-hint> Enter one character </mat-hint>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-label for="deadline">Deadline</mat-label>
        <input
          matInput
          [matDatepicker]="deadlinePicker"
          type="date"
          id="deadline"
          name="title"
          [(ngModel)]="newTask.deadline"
          class="form-control"
          [disabled]="isProcessing"
        />
        <mat-hint>Date is optional</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="deadlinePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #deadlinePicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="form-group">
      <button
        mat-raised-button
        color="primary"
        (click)="addTask()"
        [disabled]="!canAddTask()"
      >
        {{ isProcessing ? "Processing..." : "Add Task" }}
      </button>
    </div>
  </form>
  <mat-card [class.completed]="task.completed" *ngFor="let task of tasks">
    <mat-card-header>
      <mat-card-subtitle *ngIf="task.deadline">{{
        task.deadline
      }}</mat-card-subtitle>
      <mat-card-title class="title">{{ task.title }}</mat-card-title>
    </mat-card-header>
    <mat-card-actions align="end">
      <mat-checkbox
        color="primary"
        type="checkbox"
        [(ngModel)]="task.completed"
        (change)="handleChange(task)"
      />
    </mat-card-actions>
  </mat-card>
  <button
    mat-raised-button
    color="accent"
    (click)="archiveCompleted()"
    [disabled]="!canArchiveCompleted()"
  >
    Archive Completed
  </button>
</div>
